/*General */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

form {
    margin: 2em;
}

.card {
    border-radius: 10px;
}

/* Base Navbar */
.brand-logo {
  margin: 0px 20px;
  font-size: 2em;
  font-weight: 600;
}

.nav-item {
  font-size: 1.25em;
  font-weight: 500;
}

#mobile-demo .nav-item {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 500;
}

/* Base Footer */

.social-icon {
  font-size: 1.5em;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

/* Index Content */

.homecontainer img {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}

.searchbar {
  width: 80%;
  margin: 0 auto 0 auto;
}

.searchtag {
    margin: 0;
}

.signintext {
    margin-top:2em;
}

.link {
    text-decoration: underline;
}

.submitbutton {
    margin: 0.5em;
}

.submitbutton:hover{
    color: #000; 
}

/* guidance from https://stackoverflow.com/questions/37127123/change-color-of-underline-input-and-label-in-materialize-css-framework*/
.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

.input-field input[type]:focus:not([readonly]) + label,
.input-field textarea:focus:not([readonly]) + label {
  color: #4caf50;
}


/* Register/ Login Content */



.addrecipecard{

}