/*General */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  color: #4caf50;
}

main {
  flex: 1 0 auto;
}

form {
  margin: 2em;
}

.card {
  border-radius: 10px;
}

/* Colour scheme*/
.nav-wrapper,
.side-nav,
.page-footer {
  background-color: #4caf50;
}

h5 {
  color: #2e7d32;
}

.link {
  text-decoration: underline;
  color: #4caf50;
}

.link:hover {
  text-decoration: underline;
  color: #2e7d32;
}

.submitbutton {
  background-color: #2e7d32;
  color:#fff;
}

.submitbutton:hover {
  color: #000;
  background-color: #2e7d32;
}

.removebutton {
  background-color: #f44336 ;
  color:#fff;
}

.removebutton:hover {
  color: #000;
  background-color: #f44336;
}

.input-field label {
    color: #4caf50;
}

label {
    color: #4caf50;
}

.input-field input[type]:focus:not([readonly]),
.input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

.input-field input[type]:focus:not([readonly]) + label,
.input-field textarea:focus:not([readonly]) + label,
.input-field .prefix.active {
  color: #4caf50;
}

.checkbox[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #4caf50;
  background-color: #4caf50;
}

.checkbox[type="checkbox"] {
  border: 2px solid #4caf50;
}

/* Base Navbar */
.brand-logo {
  margin: 0px 20px;
  font-size: 2em;
  font-weight: 600;
}

.nav-item {
  font-size: 1.25em;
  font-weight: 500;
}

#mobile-demo .nav-item {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 500;
}

/* Base Footer */

.social-icon {
  font-size: 1.5em;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: #2e7d32;
}

/* Index Content */

.homecontainer img {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}

.searchbar {
  width: 80%;
  margin: 0 auto 0 auto;
}

.searchtag {
  margin: 0;
}

.signintext {
  margin-top: 2em;
}

/* add recipe form */

.additem {
    padding: 0 0 10px 10px;
}