{% extends 'base.html'%} {% block content %}

<!--If statement to prevent a user navigating to & using the route without being logged -->
{% if 'username' not in session %}
<section class="container">
    <h5 class="center green-text text-darken-3">You aren't currently logged in. Please log in&nbsp;<a href="{{url_for('login')}}"><span class="green-text link">here</span></a></h5>
</section>
{% else %}
<section class="container">
    <h5 class="center signintext green-text text-darken-3">Have a look through our wonderful recipes and see if there's anything that tingles your tastebuds!</h5>
    <div class="card addrecipecard">
        <div class="row center-align">
            <form class="col s12 registerform" method="POST" action="{{url_for('add_recipe')}}">
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">restaurant</i>
                    <input id="recipename" name="recipename" type="text" class="validate green-text" />
                    <label for="recipename">Recipe Name</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">restaurant_menu</i>
                    <input id="recipedescription" name="recipedescription" type="text" class="validate green-text" />
                    <label for="recipedescription">Recipe Description</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">language</i>
                    <input id="cuisine" name="cuisine" type="text" class="validate green-text" />
                    <label for="cuisine">Cuisine</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">timer</i>
                    <input id="preptime" name="preptime" type="text" class="validate green-text" />
                    <label for="preptime">Prep Time</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">timelapse</i>
                    <input id="cooktime" name="cooktime" type="text" class="validate green-text" />
                    <label for="cooktime">Cook Time</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">sort</i>
                    <input id="difficulty" name="difficulty" type="text" class="validate green-text" />
                    <label for="difficulty">Difficulty</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">people</i>
                    <input id="serves" name="serves" type="text" class="validate green-text" />
                    <label for="serves">Serves</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">party_mode</i>
                    <input id="image" name="image" type="text" class="validate green-text" />
                    <label for="image">Image</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">list</i>
                    <input id="ingredients" name="ingredients" type="text" class="validate green-text" />
                    <label for="ingredients">Ingredients</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">format_list_numbered</i>
                    <input id="preparation" name="preparation" type="text" class="validate green-text" />
                    <label for="preparation">Preparation</label>
                </div>
                <button class="btn waves-effect submitbutton green darken-3 " type="submit" name="action">Create
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endif %}


{% endblock %}