{% extends 'base.html'%} {% block content %}
<section class="container">
    <h5 class="center headertext">
        Been testing out some new ideas? Log in and share with our community!
    </h5>
    <div class="card">
        <!--Flash messages to the user when they attempt to log in (incorrect user/ password or successful log in) -->
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                    <p class="center-align">{{ message }}</p>
                    {% endif %} 
                    {% if category == 'error'%}
                    <p class="center-align red-text">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row center-align">
            <form class="col s12" method="POST" action="{{url_for('login')}}">
                <!--Username input -->
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="loginusername" name="username" type="text" class="validate" required/>
                    <label for="loginusername">Username</label>
                </div>
                <!--Password input -->
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix">lock</i>
                    <input id="loginpassword" name="password" type="password" class="validate" required/>
                    <label for="loginpassword">Password</label>
                </div>
                <!--Login input -->
                <button class="btn waves-effect submitbutton" type="submit" name="action">Sign In
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    <!--Link to register -->
    </div>
    <p class="center">Need an account? &nbsp;<a href="{{url_for('register')}}"><span class="link">Register here</span></a></p>
</section>
{% endblock %}
