{% extends 'base.html'%} {% block content %}
{% if 'username' not in session %}
<section class="container">
    <h5 class="center">You aren't currently logged in. Please log in&nbsp;<ahref="{{url_for('login')}}"><span class="link">here</span></a></h5>
</section>
{% else %}
<section class="container">
    <div class="row center-align">
        <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn submitbutton modal-trigger">Add New Recipe
            <i class="material-icons right">add</i>
        </a>
    </div>
    <div class="row">
    {% for recipe in recipes %} 
        {% if session['username'] == recipe.created_by and not recipe.soft_delete%}
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
            <div class="col s12 m3 card center-align hoverable">
                {% if recipe.image %}
                <div>
                    <img class="cardimage" src="{{recipe.image}}" alt="recipe-image" />
                </div>
                {% else %}
                <div>
                    <img class="cardimage" src="{{ url_for('static', filename='images/defaultmeal.jpg') }}" alt="recipe-image"/>
                </div>
                {% endif %}
                <h5 class="cardname">{{recipe.recipe_name}}</h5>
            </div>
        </a>
        {% endif %} 
    {% endfor %}
    </div>
</section>
{% endif %} 
{% endblock %}
