{% extends 'base.html'%} {% block content %}
<section class="container">
<div class="card center-align">
    <div class="row center searchtag">
      <h5 class="col s12">Search for your favourite recipes, ingredients or you can even search by username to find a list of others' recipes..!</h5>
    </div>
    <form class="input-field searchbar valign-wrapper" action="{{url_for('search')}}" method="POST">
      <i class="material-icons prefix">search</i>
      <input placeholder="Try something new!" name="search" type="text" class="validate" />
    </form>
  </div>
  <div class="row center-align">
    {% if count == 0 %}
        <h5 class="red-text">No results were found for this search, please try again</h5>
    {% endif %}
    {% for recipe in recipes %}
        {% if recipe.public and not recipe.soft_delete %}
        <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
            <div class="col s12 m3 card center-align hoverable">
                {% if recipe.image %}
                    <div>
                    <img class="cardimage" src="{{recipe.image}}" alt="recipe-image" />
                    </div>
                {% else %}
                    <div>
                    <img class="cardimage" src="{{ url_for('static', filename='images/defaultmeal.jpg') }}" alt="recipe-image"/>
                    </div>
                {% endif %}
                <p class="cardname recipeinfo">{{recipe.recipe_name}}</p>
            </div>
        </a>
        {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
