{% extends 'base.html'%} {% block content %}
<section class="container valign-wrapper">
    <div class="card registercard">
        <div class="row center-align">
            <form class="col s12 registerform">
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">account_circle</i>
                    <input id="icon_account_circle" type="text" class="validate green-text" />
                    <label for="icon_account_circle">Username</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">lock</i>
                    <input id="icon_lock" type="text" class="validate green-text" />
                    <label for="icon_lock">Password</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">lock</i>
                    <input id="icon_lock" type="text" class="validate green-text" />
                    <label for="icon_lock">Re-type password</label>
                </div>
                <button class="btn waves-effect submitbutton green darken-3 "type="submit" name="action">Create
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}