{% extends 'base.html'%} {% block content %}
<section class="container">
    <h5 class="center signintext green-text text-darken-3">Register to add your own favourite recipes for your future use, and for everyone else to enjoy!</h5>
    <div class="card registercard">
        <!--Flash messages to the user when they attempt to register (havent retyped password correctly, or username already exists) -->
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %}
                    {% if category == 'success'%}
                    <p class="error_message center-align green-text">{{ message }}</p>
                    {% endif %}
                    {% if category == 'error'%}
                    <p class="error_message center-align red-text">{{ message }}</p>
                    {% endif %}
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        <div class="row center-align">
            <form class="col s12 registerform" method="POST" action="{{url_for('register')}}">
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">account_circle</i>
                    <input id="registerusername" name="username" type="text" class="validate green-text" />
                    <label for="registerusername">Username</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">lock</i>
                    <input id="registerpassword" name="password" type="password" class="validate green-text" />
                    <label for="registerpassword">Password</label>
                </div>
                <div class="input-field col s12 valign-wrapper">
                    <i class="material-icons prefix green-text">check_circle</i>
                    <input id="registerpasswordcheck" name="passwordcheck" type="password" class="validate green-text" />
                    <label for="registerpasswordcheck">Re-type password</label>
                </div>
                <button class="btn waves-effect submitbutton green darken-3 " type="submit" name="action">Create
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
    <p class="center green-text">Already got an account? &nbsp;<a href="{{url_for('login')}}"><span class="green-text link">Sign in here</span></a>
</section>
{% endblock %}
