{% extends 'base.html'%} {% block content %}

<section class="container">
    <div class="row center-align">
        <h3>{{ view_recipe.recipe_name }}</h3>
        <div class="row center-align recipeheader">
            <div class="col s12 m6">
                <h5><i class="material-icons">account_circle</i>Recipe created by:&nbsp;<span>{{ view_recipe.created_by }}</span></h5>
            </div>
            <div class="col s12 m6">
                <h5><i class="material-icons">language</i>Cuisine:&nbsp;<span>{{ view_recipe.cuisine }}</span></h5> 
            </div>
        </div>
    </div>
    <div class="card row">
        <div class="center-align col s12">
            <img src="{{view_recipe.image}}" alt="recipe image" class="recipeimage"> 
        </div>
        <div class="row center-align">
            <div class="col s6 m3">
                <i class="material-icons">sort</i><br>Difficulty
                <h5>{{view_recipe.difficulty}}</h5>
            </div>
            <div class="col s6 m3">
                <i class="material-icons">timer</i><br>Prep Time
                <h5>{{view_recipe.prep_time}} mins</h5>
            </div>
            <div class="col s6 m3">
                <i class="material-icons">timelapse</i><br>Cook Time
                <h5>{{view_recipe.cook_time}} mins</h5>
            </div>
            <div class="col s6 m3">
                <i class="material-icons">restaurant</i><br>Serves
                <h5>{{view_recipe.serves}}</h5>
            </div>
        </div>
        <div class="col s12">
        {% if view_recipe.allergens|length >0 %}
            <p>This recipe contains: 
                {% for allergen in  view_recipe.allergens %}
                <span><i class="tiny material-icons red-text">error_outline</i>{{ allergen }}</span>&nbsp;
                {% endfor %}
            </p>
        {% endif %}   
        </div>
    </div>
        <div class="card row">
            <div class="col s12 m6 left-align">
                <h5><i class="material-icons prefix">list</i>Ingredients</h5>
                {% if view_recipe.ingredients|length >0 %}
                <ul>
                    {% for ingredient in view_recipe.ingredients %}
                    <li><i class="tiny material-icons">chevron_right</i>{{ ingredient }}</li><br>
                    {% endfor %}
                </ul>
                {% endif %} 
            </div>
            <div class="col s12 m6 left-align">
                <h5><i class="material-icons prefix">format_list_numbered</i>Preparation</h5>
                {% if view_recipe.preparation|length >0 %}
                <ul>
                    {% for prep in view_recipe.preparation %}
                    <li><i class="tiny material-icons">chevron_right</i>{{ prep }}</li><br>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

    
    
</Section>

{% endblock %}